---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Electric Cars, Solar &amp; Clean Energy | Tesla">
	<main>
		<h1 class="text-6xl text-center">Tesla Landing</h1>
		<p class="text-center">hola mundo</p>
		<p class="justi"></p>
	</main>
</Layout>
