<section
	class="landing-section bg-black h-screen w-screen text-center overflow-hidden relative" data-header-color="black"
>
	<div class="z-30 relative h-full flex flex-col">
		<header>
			<h2 class="text-black mt-[16vh] text-[40px] font-medium">Model X</h2>
			<p class="text-blac text-sm underline">
				Concertar una prueba de conducción
			</p>
		</header>
		<footer class="flex flex-col flex-grow justify-end pb-20">
			<div class="flex gap-x-4 mx-auto">
				<a
					href="#"
					class="bg-gray-600 border-[3px] border-gray-600 rounded text-sm font-medium text-white px-12 py-2 inline-block transition-colors duration-300 hover:bg-gray-500 hover:text-white hover:border-gray-500"
					><span>Explorar inventario</span></a
				>
				<a
					href="#"
					class="bg-white border-[3px] border-white rounded text-sm font-medium text-black px-12 py-2 inline-block transition-colors duration-300 <!-- inline-flex justify-center items-center --> hover:bg-black hover:text-white hover:border-black"
					><span>Pedido personalizado</span></a
				>
			</div>
		</footer>
	</div>

	<div class="absolute top-0 bottom-0 h-full w-full z-10">
		<img
			src="/model-x.avif"
			alt="Model X"
			class="h-full w-full object-cover object-center"
		/>
	</div>
</section>
